doctype html
html
  head
    title A new order
  body
    h1 A new order from Stars Sushi Site
    h3 Phone: #{phone}
    h3 Pikapas: #{pikapas}
    h3 Address: #{address}
    h3 Entrance Code: #{entranceCode}
    h3 Total Price: #{price}

    table(cellspacing='10')
        th #
        th Name
        th Quantity
        each dish in dishes
            tr
                td= dish.number
                td= dish.name
                td= dish.quantity
